PROJECT_NAME=todo-list
DB_NAME=todo-list
DB_USER=todo
DB_PASSWORD=todo
DB_HOST=mysql
###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN="^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$"
###< nelmio/cors-bundle ###

APP_ENV=dev

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=easy-list
###< lexik/jwt-authentication-bundle ###

GOOGLE_CLIENT_ID=920643850188-6159br23nh89bqmlkubegtcm1so4cfdv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GhGTo0hVcxa1iKrzogYGt2MS
